.formWrapper {
    max-width: 400px;
    width: calc(100vw - 20px);
    min-width: 228px;
    padding: 0;
    border: 2px solid white;
    margin: 20px 0px;
}

.form {
    padding: 40px 20px 20px 20px;
    background-color: hsl(0, 0%, 93%);
    width: 100%;
}

.formRow > label {
    color: hsl(0, 0%, 15%);
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    width: fit-content;
}

.formRow > input {
    margin: 0;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 8px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid grey;
}

.formRow > input:hover {
    background-color: hsl(0, 0%, 98%);
}

.formRow > input::placeholder {
    color: hsla(0, 0%, 0%, 0.34);
}

.formRow {
    margin-bottom: 10px;
}

.formRow:last-child {
    margin-bottom: 0;
}

.formRow .checkbox {
    aspect-ratio: 1 / 1;
    height: 18px;
}

.formHeader {
    height: 60px;
    background-color: hsl(223, 65%, 42%);
    font-size: 26px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.rememberMeWrapper {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formRow button {
    margin-top: 17px;
    width: 100%;
    height: 40px;
    background-color: hsl(223, 65%, 42%);
    color: white;
    font-size: 16px;
    border: 1px solid black;
}

.formRow button:hover {
    background-color: hsl(223, 65%, 49%);
    cursor: pointer;
}

.registerPrompt {
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.form a {
    color: hsl(223, 65%, 42%);
}

.form a:hover {
    color: hsl(223, 65%, 32%);
    cursor: pointer;
    text-decoration: underline;
}
