:root {
    --main-wrapper-top-margin-offset: 60px;
}

.main-wrapper {
    margin-top: var(--main-wrapper-top-margin-offset);
    min-height: 200px;
    height: fit-content;
    min-width: 300px;
    width: 100%;
    max-width: 800px;
    background-color: cyan;
    margin-left: calc(50%);
    transform: translateX(-50%);
}
